body {
  margin-left: 30px
}

.ts-dot {
  font-size: .7em;
}

.ts-labels {
  font-size: .7em;
}

.scatter-labels {
  font-size: .7em;
}

.slider {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  font-family: sans-serif;
  /* margin-bottom: 10px; */
}

.slider-label {
  font-size: 10pt;
  /* margin-right: 5px; */
}

#map {
  margin-left: 145px;
  margin-top: 10px;
}

#controls-top {
  display:flex; 
}

/* Bad CSS */
select {
  margin-left: 5px;
  width: 130px;
}

.select {
  margin-right: 15px;
  font-family: sans-serif;
}